.container {
  min-height: 100vh;
  margin: 0 auto;
  background-color: var(--background);
  color: var(--foreground);
}

.hide {
  width: 0;
  height: 0;
  opacity: 0;
  display: none;
  visibility: hidden;
}

.container > header {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: var(--background);
  border-bottom: 1px solid var(--color-border);
  z-index: 999;
}

.container > header > .headerBody {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85vw;
  height: 70px;
  line-height: 70px;
}

.container header h1 {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: bolder;
  color: var(--color-primary);
}

.container header h1 img {
  width: 30px;
  height: 30px;
}

.container > header .headerIcon {
  display: flex;
  width: 100px;
}

.container > header .headerIcon > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 70px;
  color: var(--text-secondary);
  transition: all 0.5s;
}
.container > header .headerIcon > div:hover {
  color: var(--text-body);
}

.container > header .headerIcon div a svg {
  width: 18px;
}

.container > footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 30px;
  line-height: 30px;
  font-size: 10px;
  text-align: center;
  color: var(--text-muted);
  background-color: var(--background);
  border-top: 1px solid var(--color-border);
}

.container > main {
  display: grid;
  grid-template-columns: 30vw 1fr;
  margin-top: 70px;
}

.mainWarp {
  padding: 24px;
}

@media (max-width: 1500px) {
  .container > header > .headerBody {
    width: 90vw;
  }

  .container > main {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
  }
}
