.mainContent {
  padding: 24px;
}

.mainContent .title {
  margin-bottom: 16px;
  display: block;
  color: var(--color-primary);
  font-size: 20px;
  font-weight: bolder;
}

.container {
  margin-bottom: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
}

.errorContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-primary);
  line-height: 1.6;
  font-size: 18px;
}

.errorContent button {
  margin-top: 20px;
  padding: 5px 20px;
  border: var(--text-primary) 1px solid;
  border-radius: 8px;
}
