.detailRenewal {
  padding: 24px;
  margin-bottom: 40px;
  border-top: 2px solid var(--color-border);
  color: var(--foreground);
  line-height: 1.8;
  font-size: 16px;
  letter-spacing: -1px;
}

.detailRenewal h4 {
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bolder;
  color: var(--foreground);
}
