.detailTopInfo {
  padding: 24px;
  display: grid;
  grid-template-columns: 1fr 200px;
  padding-bottom: 30px;
  border-bottom: 2px solid var(--color-border);
}

.detailTopInfo .itemContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  color: var(--foreground);
  line-height: 1.6;
  letter-spacing: -1px;
}

ul.skill {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

ul.skill li img {
  border-radius: 5px;
}

.detailTopInfo .itemImage {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-border);
}

@media (max-width: 900px) {
  .detailTopInfo {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .skill {
    display: inline-block;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
  }

  .skill div {
    margin-top: 8px;
  }

  .detailTopInfo .itemImage {
    margin-top: 40px;
    border: 0 solid var(--color-border);
  }
}
