.profileSection {
  padding-top: 30px;
  width: 30vw;
  color: #fff;
  line-height: 1.5;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.25px;
  border-right: #333 1px solid;
}

.feContent {
  color: #0080ff;
  font-weight: bolder;
}

.name {
  font-size: 28px;
  font-weight: bolder;
  line-height: 1.2;
}

.nameContent {
  color: #999;
  font-size: 12px;
}

/* 연락처 */
.contactInfo {
  margin-top: 16px;
}

.contactContent {
  display: flex;
  margin-bottom: 10px;
  gap: 10px;
  font-size: 15px;
  color: #ddd;
}

.contactTitle {
  color: #0080ff;
  opacity: 0.5;
}

.contactInfo .contactTitle > span.hide {
  width: 0;
  height: 0;
  opacity: 0;
  display: none;
  visibility: hidden;
}

.contactInfo span.line {
  text-decoration: underline;
}

.content {
  font-size: 14px;
  color: #ddd;
}

.aboutMe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutMe img {
  padding: 16px 0;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.skill .skillIcon {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 15vw;
  gap: 16px;
  padding-top: 16px;
}

.skill .skillIcon img:nth-child(3),
.skill .skillIcon img:nth-child(10) {
  border-radius: 50%;
}

.introduction {
  padding-top: 20px;
  letter-spacing: -1px;
}

.introduction .infoTitle {
  padding-bottom: 8px;
  font-size: 16px;
  font-weight: bolder;
  letter-spacing: -0.5px;
  color: #0080ff;
  opacity: 0.9;
}

.introduction .content {
  font-size: 15px;
  color: #ddd;
}

@media (max-width: 1500px) {
  .profileSection {
    display: grid;
    grid-template-columns: 250px 28vw 1fr;
    width: 95vw;
    box-sizing: border-box;
    border-right: #333 0px solid;
    border-bottom: #333 1px solid;
  }

  /* .skill .skillIcon {
    width: 25vw;
    gap: 20px;
  }

  .skill .skillIcon img {
    width: 20vw;
  } */

  .aboutMe,
  .introduction {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .introduction div:nth-child(1) {
    display: none;
  }
}

@media (max-width: 900px) {
  .profileSection,
  .introduction {
    display: flex;
    flex-direction: column;
  }

  /* .skill .skillIcon {
    width: 60vw;
    gap: 16px;
  } */

  .introduction div:nth-child(1) {
    display: block;
  }

  .none {
    display: none;
  }
}
