.profileSection {
  padding-top: 30px;
  width: 30vw;
  color: var(--foreground);
  line-height: 1.5;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.25px;
  border-right: 1px solid var(--color-border);
}

.feContent {
  font-size: 16px;
  color: var(--color-primary);
  font-weight: bolder;
}

.name {
  font-size: 28px;
  font-weight: bolder;
  line-height: 1.2;
}

.nameContent {
  color: var(--text-muted);
  font-size: 12px;
}

/* 연락처 */
.contactInfo {
  margin-top: 16px;
}

.contactContent {
  display: flex;
  margin-bottom: 10px;
  gap: 10px;
  font-size: 15px;
  color: var(--text-body);
}

.contactTitle {
  color: var(--color-primary);
  opacity: 0.5;
}

.contactInfo .contactTitle > span.hide {
  width: 0;
  height: 0;
  opacity: 0;
  display: none;
  visibility: hidden;
}

.contactInfo span.line {
  text-decoration: underline;
}

.content {
  font-size: 14px;
  color: var(--text-body);
}

.aboutMe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutMe img {
  padding: 16px 0;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.skill .skillIcon {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 15vw;
  gap: 16px;
  padding-top: 16px;
}

.skill .skillIcon img:nth-child(3),
.skill .skillIcon img:nth-child(10) {
  border-radius: 50%;
}

.introduction {
  padding-top: 20px;
  line-height: 1.6;
}

.introduction .infoTitle {
  padding-bottom: 8px;
  font-size: 16px;
  font-weight: bolder;
  color: var(--color-primary);
  letter-spacing: 1px;
}

.introduction .content {
  font-size: 14.5px;
  color: var(--text-body);
  letter-spacing: -0.25px;
}

.tabletMode,
.mobileMode {
  display: none;
}

@media (max-width: 1400px) {
  .profileSection {
    display: flex;
    flex-direction: column;
    width: 100vw;
    box-sizing: border-box;
    border-right: 0 solid var(--color-border);
    border-bottom: 1px solid var(--color-border);
  }

  .aboutMe,
  .introduction {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 900px) {
  .profileSection,
  .introduction {
    display: flex;
    flex-direction: column;
  }

  .introduction div:nth-child(1) {
    display: block;
  }

  .none {
    display: none;
  }
}

@media (max-width: 1400px) and (min-width: 600px) {
  .tabletMode {
    padding: 0 50px;
    margin-bottom: 40px;
    display: block;
  }

  .pcMode {
    display: none;
  }
}

@media (max-width: 599px) {
  .tabletMode {
    padding: 0 30px;
  }
}
