.skillContent {
  padding: 24px;
  background-color: var(--surface-card);
  border-bottom: 1px solid var(--color-border);
}

.skillContent .title {
  margin-bottom: 16px;
  display: block;
  color: var(--color-primary);
  font-size: 20px;
  font-weight: bolder;
}
